.new_prod_container h2{
    margin: 20px 0px 20px 0px;
    color: #161616;
}
.new_prod_container{
    margin: 50px auto 55px auto;
    width: 90vw;
}
.product_container{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
}
/* Next Product Btn*/
.nextProdCont{
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 20px auto 0px auto;
}
.nextProdCont a{
    /* background-color:#019C89; */
    color: black;
    padding: 9px 20px 9px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
    margin: 1px;
    font-size: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.product_container::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.product_container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.cardContainer{
    border: 1px solid #9E9F9C;
    border-radius: 8px;
    width: 254px;
    padding: 12px;
    font-weight: 100;
    cursor: pointer;
}
.arrowImgPrev{
    position: absolute;
    left: 0vw;
    height: 60px;
    cursor: pointer;
}
.arrowImgNext{
    position: absolute;
    right: 0vw;
    cursor: pointer;
    height: 60px;
}
.productimg{
    width: 120px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.equipImage{
    background-color: #F4F4F4; 
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_desk h5{
    margin: 0px;
    margin-top:10px;
    font-weight: 640;
}
.title_desk p{
    font-size: 12px;
    margin: 0px;
    margin-top: 2px;
    font-weight: 100;
    color: #B5B5B5;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.priceTag h5{
    font-weight: 640;
    margin: 0px;
    margin-top:15px ;
}
.priceTag p{
    text-decoration: line-through;
    color: #B5B5B5;
    font-size: 10px;
    margin: 0px;
    margin-top:2px ;
}
.PriceBtn{   
    font-size: 11px;
    color: white;
    background-color: #019C89;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
}
/* FAVOURITE AND CART ICON  */
.favCart a img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}
.favCart{
    display: flex;
    flex-direction: column;
    position: relative;   
    top: -188px;
    left: 150px;
}

.productImage{
    height: 214px;
}
.newBanner{
    position: relative;
    top: 10px;
    left:-45px;
    height: 22px;
}

/* Related Product Card */


.column {
    width: 260px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px 6px 6px 6px;
    margin:5px;
    cursor: pointer;
}
.images 
{
    border-radius: 6px 6px 0px 0px;
}
.prodtitle 
{
    text-align: center;
    color: #000000;
}
.contain
 {
    box-sizing: content-box;
}
.pprice
 {
    text-align: center;
    color: #000000;
    margin: 12px 0px 12px 0px;
}
.containDis
 {
    color: #8A8A8A;
    font-size: 12px;
    text-align: center;
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    width: 240px;
}

/* EXPERTISE HEADING */
.expertHead{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 500
}
/* EXPERTISE CARDS */
.expertCont{
    padding: 70px  120px;
}
.expertComp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-align: center;
    width: fit-content;
    margin: 10px auto 10px auto;
}
.expTitle{
    color: #313130;
    font-size: 20px;
    font-weight: 500;
}
.expDesc{
    font-size: 13px;
    color: #9A9A9A;
    width: 220px;
}
/* IMAGE */
.expImage{
    width: 18vh;
    border-radius: 50%;
}

/* client card  */

/* TESTIMONIAL HEADING */
.testHeading{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}
.headingLine1{
    /* object-fit: none; */
    width: 200px;
    height: 5px;
    margin: 12px auto 0px auto;
}
/* CLIENT REVIEW */
.testMaincCont{
    background-color: #F7F7F7;
    /* width: 90vw; */
    padding: 40px;
}
.testContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px   ;
    align-items: center;
    text-align: center;
    box-shadow: rgba(100, 111, 109, 0.2) 0px 7px 29px 0px;
    margin: 10px;
    width: 270px;
    height: 350px;
    padding: 22px;   
}
.testCardDesc{
    font-size: 14px;
    color: #545454;
    width: 270px;
}
.clientName{
 color: #4c6680;
}
.clientImage{
    width: 77px;
    border-radius: 50%;
}
.suffixMark{
    width: 26px;
}
/* SWIPE REVIEW CONTAINER */
.reviewCont{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    overflow-y: auto;
}
.swipeArrow img{
    width: 7vh;
}
.cardContent{
    width: 254px;
}

/* client card */
.clientContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #019C89;
    margin: 80px 0px 0px 0px;
}
.clientContainer img{
    width: 120px;
}
@media(max-width:1200px){
    .product_container{
        flex-wrap: wrap;
    }
    .cardContainer{
        margin: 10px;
    }
    .arrowImg,.swipeArrow,.clientContainer,.arrowImgPrev,.arrowImgNext{
        display: none;
    }
    .testMaincCont{
        padding: 11px;
    }
}
@media(max-width:666px){
    .cardContainer{
        /* width: 90vw; */
        margin: 10px auto 10px auto;
    }
    
}
@media(max-width:368px){
    .testCardDesc{
        width: 80vw;
    }
    .testContainer{
        width: 70vw;
    }
}