.advt{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
    margin: 30px auto 40px auto;
}
.advt_1{
    width: 46vw;
    height: 350px;
    background-size: cover;
}
.advt_blogs{
    text-align: center;
    margin-bottom: 70px;
}
.advt_blogs h2{
    margin: 40px 0px 40px 0px;
}
.blogsContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow-y: auto; */
}
.badvt{
    margin: 20px;
    width: 40%;
    height: 300px;
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.experties_container h2{
    text-align: center;
    margin-bottom: 30px;
}
.expertbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
}
.experties_container{
    margin-bottom: 50px;
}
/* mobile Navbar Footer */
.mobileBottonNavbarr{
    display: none;
    justify-content: space-around;
    position: fixed;
    bottom: 0vh;
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.mobileBottonNavbarr a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #81837F;
}
.mobileBottonNavbarr i{
    font-size: 20px;
}
.mobileBottonNavbarr span{
    font-size: 11px;
    margin-top: 4px;
}

/* Footer Design  */
/* footer{
    padding: 3rem 2rem;
    display: flex;
    gap: 5.9rem;
}
.footContainer{
    display: flex;
    flex-wrap: wrap;
}

.mediLogo{
    width: 25vh;
}

.rightFoot{
    width: 226px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    gap: 20px;
}
.rightFoot p{
    color: #908F8F  ;
    line-height: 1.21rem;
}

.footSocial{
    margin-right:24px;
    width: 3vh;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 5.9rem;
    letter-spacing: 2px;
}

.listStyle{
    list-style: none;
}

.listStyle li{
    margin-bottom: 15px;
}

.listStyle li a{
    text-decoration: none;
    color: #545553;
    font-weight: 500;
    font-size: 15px;
}

.listTitle{
    font-size: larger;
    color:#019C89;
    margin-bottom: 20px;
    font-weight: 500;
}

.allRights{
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    width: 100%;
    height: 8vh;
    color: #373737;
    background-color: #EDEDED;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
} */
/*Fotter 2*/

footer {
    background-color: #019C89;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
    /* margin-top: 40px; */
}
.ftext {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: medium;
    margin: auto;
}
.social {
    width: fit-content;
    margin: 30px auto 10px auto;
    display: flex;
    align-items: center;
}
.socialAnc{
    background-color: #019C89; 
    margin: 10px;
}

.socMP {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto 30px auto;
    justify-content: center;
}
.socPhon ,.socMed {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 5px;
    margin: 20px;
    background-color: #019C89;
}
.bottom {
    background-color: #74B4AC;
    padding: 12px;
    margin-top: 15px;
    text-align: center;
}
.fvalue {
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: #019C89;
    margin: 10px;
}

@media(max-width:1200px){
    .footContainer{
        background-color:#019C89;
    }
    .mobileBottonNavbarr{
        display: flex;
    }
}
@media(max-width:600px){
    .advt_1{
        width: 90vw;
    }
    .badvt{
        width: 300px;
        /* background-size: cover; */
    }
}