.userContainer{
    height: 600px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}
.lrContent img{
    height: 400px;
    width: fit-content;
    margin-left: 30px;
}
.lrContent{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #FFFFFF;
    height: 99%;
    align-items: center;
    justify-content: space-around;
}
.lrContent p{
    font-size: 12px;
    text-align: center;
    width: fit-content;
}
.lrContent h3{
    font-weight: 400;
    font-size: 25px;
}
.FormContainer{
    width: 32%;
    height: 438px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #A3A3A3;
}
.formHead{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    margin-top: 20px;
}
.formHead a{
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    /* border-bottom: 2px solid black; */
    width: 30%;
    text-align: center;
    padding-bottom: 10px;
    color: #A3A3A3;
}
.signupForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 84%;
    height: 70%;
    margin: auto;
    font-size: 13px;
}
.signupForm input{
    height: 35px;
    background-color: #FAFFFE;
    border: 1px solid #DDE6E4;
    outline:none;
    padding-left: 15px;
    border-radius: 5px;
}
.signupForm p{
    color: black;
}
.signupForm input[type=radio]{
    margin-right: 5px;
}
.signupForm input[type=submit]{
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}
.registerType{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.registerType span{
    display: inline-flex;
    align-items: center; 
    margin-right: 20px;
}
.registerRadio{
    display: flex;
}
.loginOptions label{
    background-color: #FAFFFE;
    margin-right: 14px;
    padding: 6px 14px 6px 14px;
    border-radius: 4px;
    border: 1px solid #DDE6E4;
    cursor: pointer;
}
.loginOptions{
    margin: 10px 0px 20px 0px;
}
.emailLogin input{
    width: 94%;
    height: 30px;
    margin-bottom: 10px;
}
.forgot{
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 12px;
    color: #019C89;
}
.socialLogin img{
    width: 20px;
    cursor: pointer;
    margin: 5px;
}
.socialLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
