:root{
    --common-color:#019C89;
}
a{
    text-decoration: none;
}
.logo{
    height: 90px;
    margin-top: 5px;
}
.headContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
}
.location{
    padding: 0px 10px 0px 10px;
    border-radius: 36px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-width: 110px;
    height: 32px;
    border: 1px solid var(--common-color);
    cursor: pointer;
    color: var(--common-color);
}
.humberg{
    display: none;
}


.search input{
    border: none;
    outline: none;
    width: 230px;
    color: var(--common-color);
}
.search input:focus{
    border: none;
}
.search{
    padding: 0px 10px 0px 10px;
    border-radius: 36px;
    height: 32px;
    width: 300px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--common-color);
    background-color: var(--common-color);
    background-image: linear-gradient(to right, #FFFFFF 80%, rgba(0,0,0,0) 20%);
}
.search input[type=submit]{
    border: none;
    width: fit-content;
    color: #FFFFFF;
    background-color: var(--common-color);
}
.BuyBtn,.SellBtn,.Speciality,.LoginBtn,.CreatBtn{
    text-decoration: none;
    background-color: var(--common-color);
    /* padding: 10px; */
    display: inline-flex;
    width: 100px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    color: white;
}

.SellBtn{
    background-color: #FFFFFF;
    border: 1px solid var(--common-color);
    color: #019C89;
}
.Speciality img,.LoginBtn img{
    width: 18px;
}
.Speciality,.LoginBtn{
    padding: 0px 15px 0px 15px;
    justify-content: space-between;
}
.Speciality input{
    display: inline-block;
    width: 70px;
    outline: none;
    border: none;
    color: white;
    background-color: var(--common-color);
    cursor: pointer;
}
.Speciality input::placeholder{
    color: white;
}
.LoginBtn{
    width: 65px;
    align-items: center;
}
.Nav2Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #cdcdcd; */
    height: 65px;
    width: 90vw;
    margin: auto;
}
.nav_line{
    border-top: 1px solid #cdcdcd;
}
.navlinks{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.Nav2Container a{
    text-decoration: none;
    color: #757574;
    /* margin: auto; */
}
.CreatBtn{
    width: 200px;
    color: #FFFFFF;
}
.humberg i{
    font-size: 34px;
    color:#80837B;
}
/* .AddToCart{
    display: none;
} */
.mobileMenu{
    padding-top: 30px;
    background-color: var(--common-color);
    position: absolute;
    right: 0px;
    top: 68px;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.mobileMenu a{
    color: white;
    font-size: 18px;
    margin: 10px;
}
.topMobileMenu{
    background-color: #FFFFFF;
    text-align: center;
    padding: 8px 0px 8px 0px;
    width: 100%;
}
/* locationn dropdown*/

.locationCont{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #FFFFFF;
    position: absolute;
    /* top: 40px; */
    max-width: 280px;
    margin: 10px auto;
    padding: 20px 17px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    z-index: 1;
    
}
.selectLocHead{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}
.detectLoc{
    display: flex;
    gap: 10px;
    margin-left: 10px;
}
.detectLoc a img{
    width: 14px;
}

.allCity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 6vw); */
    grid-gap: 10px;
    align-items: baseline;
    justify-content: center;
}
.allCity a{
    text-decoration: none;
    color: #3A3A3A;
}

.cityImage{
    width: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.leftArrow{
    width: 24px;
    height: 24px;
    margin-top: 7px;
}

.pupularCity{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
}

.inputCity{
    margin-left: 10px;
}

.inputCity input{
    border: none;
    border-bottom: 1px solid #8D9092;
    padding: 6px;
    width: 92%;
    outline: none;
}

.inputCity ::placeholder{
    font-size: 14px;
}

.detectLoc{
font-size: 13px;
font-weight: 500;
}
.cityPicName{
    font-size: 13px;
    display: flex;
    justify-content: center;
    text-align:left;
    margin-top: 3px;
}


/* Explore dropdown css*/
.exploreHead{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--common-color);
    color:var(--common-color);
    width: 110px;
    height: 33px;
    padding: 0px 4px 0px 4px;
    border-radius: 25px;
    cursor: pointer;
}
.exploreLinks{
    position: absolute;
    display: flex;
    margin-top: 10px;
    align-items: center;
    width: 180px;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 8px 0px 8px 0px;
}
.exploreLinks a{
    color: var(--common-color);
    margin: 2px;
    padding: 5px 0px 5px 0px;
    font-size: 14px;
    width: 95%;
    text-align: center;
}
.exploreLinks a:hover{
    background-color: var(--common-color);
    color: #FFFFFF;
}
/* profile Dropdown */
.profileHead{
    display: flex;
    align-items: center;
}
.profileHead img{
    margin-left: 5px;
}

.AddToCart{
    display: block;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.AddToCart img{
    width: 23px;
}
.AddToCart span{
    color: #FFFFFF;
    background: #019C89;
    display: inline-flex;
    width: 14px;
    height: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    top: -7px;
    right: -7px;

}

/* Mobile Response  */
@media(max-width:1200px){
    .BuyBtn,.SellBtn,.Speciality,.LoginBtn,.CreatBtn,.search,.exploreCont,.nav_line{
        display: none;
    }
    .logo{
        height: 60px;
    }
    .Nav2Container{
        display: none;
    }
    .humberg{
        display: block;
    }
    #loc1{
        display: block;
    }
    .headContainer{
        justify-content: space-between;
    }
}
@media(max-width:562px){
    .locationCont{
        left: 0;
        right: 0;
        top: 100px;
        margin: 0 auto;
    }
}