:root{
    --common-color:#019C89;
}
a{
    text-decoration: none;
}
.logo{
    height: 90px;
    margin-top: 5px;
}
.headContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    margin: auto;
}
.location{
    padding: 0px 10px 0px 10px;
    border-radius: 36px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-width: 110px;
    height: 32px;
    border: 1px solid var(--common-color);
    cursor: pointer;
    color: var(--common-color);
}
.humberg{
    display: none;
}


.search input{
    border: none;
    outline: none;
    width: 230px;
    color: var(--common-color);
}
.search input:focus{
    border: none;
}
.search{
    padding: 0px 10px 0px 10px;
    border-radius: 36px;
    height: 32px;
    width: 300px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--common-color);
    background-color: var(--common-color);
    background-image: linear-gradient(to right, #FFFFFF 80%, rgba(0,0,0,0) 20%);
}
.search input[type=submit]{
    border: none;
    width: fit-content;
    color: #FFFFFF;
    background-color: var(--common-color);
}
.BuyBtn,.SellBtn,.Speciality,.LoginBtn,.CreatBtn{
    text-decoration: none;
    background-color: var(--common-color);
    /* padding: 10px; */
    display: inline-flex;
    width: 100px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    color: white;
}

.SellBtn{
    background-color: #FFFFFF;
    border: 1px solid var(--common-color);
    color: #019C89;
}
.Speciality img,.LoginBtn img{
    width: 18px;
}
.Speciality,.LoginBtn{
    padding: 0px 15px 0px 15px;
    justify-content: space-between;
}
.Speciality input{
    display: inline-block;
    width: 70px;
    outline: none;
    border: none;
    color: white;
    background-color: var(--common-color);
}
.Speciality input::placeholder{
    color: white;
}
.LoginBtn{
    width: 65px;
    align-items: center;
}
.Nav2Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    height: 65px;
}
.navlinks{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.Nav2Container a{
    text-decoration: none;
    color: #757574;
}
.CreatBtn{
    width: 200px;
    color: #FFFFFF;
}
.humberg i{
    font-size: 34px;
    color:#80837B;
}
.AddToCart{
    display: none;
}
.mobileMenu{
    padding-top: 30px;
    background-color: var(--common-color);
    position: absolute;
    right: 0px;
    top: 68px;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobileMenu a{
    color: white;
    font-size: 18px;
    margin: 10px;
}
.topMobileMenu{
    background-color: #FFFFFF;
    text-align: center;
    padding: 8px 0px 8px 0px;
    width: 100%;
}
/* Explore dropdown css*/
.exploreHead{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--common-color);
    color:var(--common-color);
    width: 110px;
    height: 33px;
    padding: 0px 4px 0px 4px;
    border-radius: 25px;
    cursor: pointer;
}
.exploreLinks{
    position: absolute;
    display: flex;
    margin-top: 10px;
    align-items: center;
    width: 180px;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 8px 0px 8px 0px;
}
.exploreLinks a{
    color: var(--common-color);
    margin: 2px;
    padding: 5px 0px 5px 0px;
    font-size: 14px;
    width: 95%;
    text-align: center;
}
.exploreLinks a:hover{
    background-color: var(--common-color);
    color: #FFFFFF;
}
/* profile Dropdown */
.profileHead{
    display: flex;
    align-items: center;
}
.profileHead img{
    margin-left: 5px;
}


/* Mobile Response  */
@media(max-width:1200px){
    .BuyBtn,.SellBtn,.Speciality,.LoginBtn,.CreatBtn,.search{
        display: none;
    }
    .AddToCart{
        display: block;
        margin-right: 10px;
    }
    .AddToCart img{
        width: 23px;
    }
    .logo{
        height: 60px;
    }
    .Nav2Container{
        display: none;
    }
    .humberg{
        display: block;
    }
    #loc1{
        display: block;
    }
    .headContainer{
        justify-content: space-between;
    }
}
