.pd_container{
    width: 83vw;
    margin: auto;
}
.prod_data{
    display: flex;
    /* flex-wrap: wrap; */
}
.prod_imgs{
    width: 300px;
}
.prod_path img{
    width: 18px;
    margin: 5px;
}
.prod_path{
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
}
.prod_path a{
    font-size: 12px;
    color: #5D5D5D;
}
.prodBigImg{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 310px;
}
.imgSlider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.imgSlider img {
    width: 55px;
    height: 60px;
}
.p_data h3,.p_data h2,.p_data h4{
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}
.p_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p_data>div{
    margin-top: 25px;
}
.p_data{
    margin-left: 50px;
}
.p_data p{
    margin-top: 7px;
    color: #565655;
    font-size: 14px;
    line-height: 23px;
}
.pd_links{
    display: flex;
    justify-content: space-between;
}
.pd_links a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #565655;
}
.contactSellar{
    color:#FFFFFF;
    background-color: #019C89;
    font-size: 12px;
    padding: 7px 20px 7px 20px;
    border-radius: 30px;
    display: block;
    width: fit-content;
    margin-top: 20px;
}

/* product info */
.pd_info_links{
    display: flex;
    justify-content: space-around;
    width: 52%;
    margin: 0px auto 40px auto;
    font-size: 15px;
}
.pd_info_links a{
    /* color: #4F4F4F; */
    color: #019C89;
    border-bottom: 2px solid #019C89;
    padding-bottom: 5px;
}
.pd_info{
    margin-top: 70px;
}
.prodsImg{
    display: flex;
    justify-content: center;
    margin: 15px 0px 30px 0px;
}
/* Products Meta Data*/
.ptitle {
    color: #2A2A29;
    margin-bottom: 23px;
    font-weight: 500;
    /* font-size: 12px; */
}
.horiz {
    background-color: #DBDBDB;
}
.data {
    color: #444444;
    font-size: 12px;
    font-family: inherit;
    padding: 0px 80px 0px 26px;
    height: 40px;
    border-bottom: 1px solid #DBDBDB;
    background-color: aliceblue;
    font-weight:lighter;
}
.prodMetaContainer{
    width: 100%;
}

/* Product Review */
.prod_reive_continer h4{
    text-align: center;
    color: #474847;
    margin-bottom: 40px;
}
.reviewParentCont{
    width: 70%;
    /* background-color: cadetblue; */
    margin: 10px auto 10px auto;
    padding: 10px;
}
.allReviewCont{
    display: flex;
    gap: 30px;

}
.userRevDetails{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 22px;
    padding-bottom: 25px;
}
.nameRating{
    display: flex;
    justify-content: space-between;
}
.dateName{
    display: flex;
    gap: 22px;
    align-items: center;
}
.reviewDesc{
    margin-top: 14px;
    text-align: justify;
}

.userPic{
    width: 85px;
}

.reviewUserName{
    color: #474847;
    font-weight: 640;
    font-size: 15px;
}
.reviewUserDate{
    color: #777777;
    font-size: 12px;
    font-weight: 600
}
.reviewDesc{
    color: #6D6D6D;
    font-size: 13px;
}
.userRating{
    display: flex;
    gap: 5px;
    width: 14px;
    height: 14px;
    align-items: center;
    justify-content: right;
}
.finalRating{
    font-size: 14px;
    text-decoration: underline;
    color: #777777;
}
/*Related Products*/
.hzline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 70px 0px 70px 0px ;
}
.relprod{
    padding: 0px 12px;
    color: #343434;
}
.line1 
{
    width: 40%;
    color: #9F9F9F;
}
.line2 
{
    width:40%;
    color: #9F9F9F;
}
.rowws 
{
    /* margin: auto; */
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.rlatedProdPrev{
    height: 25px;
    position: absolute;
    left: -8px;
    top: 45%;
}
.rlatedProdNext{
    height: 25px;
    position: absolute;
    right: -8px;
    top: 45%;
}

/* Review From Css */
.forOneLine {
    display: flex;
}

.reviewFormCont {
    width: 70%;
    margin: 0 auto;
}

.giveRatingCont {
    display: flex;
    margin-bottom: 4vh;
}

.ratingHeading {
    color: #474847;
    margin: 60px 0px 30px 0px;
    font-size: 18px;
    font-weight: 500;
}

.rateFormCol label {
    color: #555751;
    font-weight: 500;
    font-size: 14px;
}

.giveRatingImg {
    display: flex;
    gap: 10px;
    margin-left: 5vh;
}

.form_group input,
#review {
    display: block;
    outline: none;
}

.form_group {
    margin-bottom: 12px;
    gap: 60px;
}

.rateFormName input {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 15px;
    width: 26vw;
    border-radius: 4px;
    margin-top: 10px;
    border: none;
}

.DescPlaceholder {
    width: 100%;
    height: 27vh;
    padding: 14px;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.reviewSubmit {
    background-color: #019C89;
    padding: 8px 0px 8px 0px;
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    color: white;
    font-size: 15px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

.onlyStarCol {
    color: #555751;
    font-weight: 500;
    font-size: 14px;
}

