.main_container{
   display: flex;
   margin-top: 50px;
   /* margin: auto; */
}
.prodFilterse{
    width: 25vw;
    height: 100vh;
    background-color:aquamarine;
}
.prodlisting{
    margin: 0px 30px 0px 30px;
}
