/* get started popup */
.getStartContainer{
    position:fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 8px;
    height: 450px;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.getStartTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    color: #131313;
    margin-top: 12px;
}
.getStartTop i{
    font-weight: bold;
    cursor: pointer;
}
.getStartInd{
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin: 10px 0px 20px 0px;
    font-size: 14px;
    color: #747678;
}
/* Background Blur */
.bgBlur{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0ed1;
    z-index: 1;
}
/* calander */
.calanderCont{
    width: 70vw;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    z-index: 2;
    margin: auto;
}

@media(max-width:1200px){
    .getStartContainer{
        top: 100px;
    }
}

@media(max-width:435px){
    .getStartContainer{
        width: 92vw;
        top: 100px;
    }
}