/* get started popup */
.getStartContainer{
    position:fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 8px;
    height: 450px;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.getStartTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    color: #131313;
    margin-top: 12px;
}
.getStartTop i{
    font-weight: bold;
    cursor: pointer;
}
.getStartInd{
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin: 10px 0px 20px 0px;
    font-size: 14px;
    color: #747678;
}
/* Background Blur */
.bgBlur{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0ed1;
    z-index: 1;
}
/* calander */
.calanderCont{
    width: 70vw;
    /* height: 470px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #FFFFFF; */
    z-index: 2;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
}
.calSummary{
    background-color: #282828;
    color: #FFFFFF;
    width: 40%;
    min-width: 350px;
}


.calanderCusttom abbr{
    text-decoration: none;
}
.react-calendar__month-view__weekdays {
    margin-bottom: 20px;
}
.calSumTop,.calSubmit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calSumTop h1{
    font-size: 5vw;
    text-align: center;
}

.pickSlot{
    padding: 30px;
}
.calSummary input{
    border: 1px solid #A1A1A1;
    outline: none;
    padding-left: 5px;
    color: black;
    height: 27px;
    width: 160px;
    border-radius: 3px;
}
.pickSlot>div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.pickSlot>p{
    color: #FFFFFF !important;
    font-size: 15px;
    
}
.pickSlot span,.remindMe span{
    display: inline-block;
    color: #ededed99;
    width: 100px;
}

.remindMe{
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}
.calanderCusttom{
    border: none !important;
    padding: 30px;
    width: 60% !important;
    min-width: 350px;
}


@media(max-width:1200px){
    .getStartContainer{
        top: 100px;
    }
}
@media(max-width:900px){
    .calanderCont{
        width: fit-content;
        flex-wrap: wrap;
        /* overflow-x: auto; */
        margin-bottom: 30px;
        

    }
    .calSumTop{
        margin-top: 30px;
    }
}

@media(max-width:435px){
    .getStartContainer{
        width: 92vw;
        top: 100px;
    }
    .calanderCusttom,.calSummary{
        min-width:  95vw;
    }
}