.manuFactureCont{
    background-color: #FAFAFA;
    padding: 30px 0px 50px 0px;
}
.manuSubCont{
    display: flex;
    gap: 20px;
    width: 85%;
    margin: auto; 
}
.manuPath a{
    color: #585757bf;
    
}
.manuPath{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}
.msearchCont h4{
    color: #019C89;
    text-transform: uppercase;
}
.maniLine{
    background-color: #9DE1D8;
    height: 1px;
    width: 280px;
    margin-top: 12px;
}
.msearchCont,.mfContent{
    margin-top: 20px;
}
.msearch input{
    outline: none;
    width: 220px;
    border: 1px solid #58575770;
    padding: 7px 15px 7px 15px;
    border-radius: 20px;
    background:none;
    
}
.msearch{
    margin: 14px 0px 10px 0px;
}
.msearch img{
    position: relative;
    left: -30px;
    top: 5px;
    cursor: pointer;
}
.searchTitle{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px 3px 10px;

}
.searchTitle:hover{
    background-color: #e1dbdb57;
}
.subSearchT{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #737373;
    font-size: 15px;
}
.subSearchT>input{
    height: 26px;
    border: 1px solid #737373;
}
.subSearchT img{
    cursor: pointer;
}
.searchTitle span{
    color: #737373;
}
.manuContent>h1{
    color: #019C89;
    font-weight: 700;
}
.manuBrand{
    margin-top: 25px;
    border-radius: 2px;
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.manuBrand img{
    margin: 7px;
}
.mfProdCard{
    display: flex;
    padding: 15px 12px 15px 12px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}
.mfTitile{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}
.mfTitile span{
    background-color: #EE8632;
    color: #FFFFFF;
    font-size: 10px;
    padding: 5px 16px 5px 16px;
}
.mfType{
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}
.mfType span{
    font-size: 11px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}
.mfProdData>h3{
    font-weight: 400;
    font-size: 16px;
    margin: 13px 0px 10px 0px;
}
.mfProdData>p,.pricing>p{
    font-size: 15px;
    color: #757672;
    margin-bottom: 15px;
}
.priceCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.demo{
    font-size: 15px;
    border: 2px solid #019C89;
    padding: 7px 13px 7px 13px;
    border-radius: 5px;
    color:#019C89;
    cursor: pointer;
    margin-right: 15px;
}
.gotoEquip{
    font-size: 15px;
    background-color:#019C89;
    padding: 7px 13px 7px 13px;
    border: 2px solid #019C89;
    border-radius: 5px;
    color:#FFFFFF;
    cursor: pointer;
}
