.meetingCont{
    padding: 10px 10px 30px 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.meetingCont img{
    cursor: pointer;
}
.meetingCont i{
    text-align: center;
    font-size: 30px;
}
.meetSchedule img{
    margin: 10px 0px 10px 0px;
}
.meetSchedule b{
    color:#101828;
}
.meetingCont p{
    color: #888888;
    text-align: center;
}
.meetSchedule{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 300px; */
}
.meetButons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 35px 0px 0px 0px;
}

.meetSuccessCont{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    z-index: 2;

    display: flex;
    border-radius: 5px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.meetSuccessCont p{
    text-align: center;
}
.successCross{
    display: flex;
    width: 100%;
    justify-content: right;
    font-size: 30px;
    cursor: pointer;
}
.termCond{
    display: flex;
    align-items: center;
    gap: 5px;
}
.meetNotify{
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}
.termCond a{
    color: #019C89;
}
.meetSuccessCont span{
    background-color: #019C89;
    color: #FFFFFF;
    padding: 8px 60px 8px 60px;
    margin: 20px 0px 20px 0px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
}
