.pd_container{
    width: 83vw;
    margin: auto;
}
.prod_data{
    display: flex;
    /* flex-wrap: wrap; */
}
.prod_imgs{
    width: 300px;
}
.newProd{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    flex-wrap: wrap;
    gap: 20px;
}
.newProd span{
    background-color: #EE8632;
    color: #FFFFFF;
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    border-radius: 2px;
}
.prod_path img{
    width: 18px;
    margin: 5px;
}
.prod_path{
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
}
.prod_path a{
    font-size: 12px;
    color: #5D5D5D;
}
.prodBigImg{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 310px;
}
.imgSlider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.imgSlider img {
    width: 55px;
    height: 60px;
}
.p_data h3,.p_data h2,.p_data h4{
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}
.sellerName img{
    width: 40px;
    height: 40px;
}
.sellerName{
    display: flex;
    align-items: center;
    gap: 12px;
}
.p_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p_data>div{
    margin-top: 25px;
}
.p_data{
    margin-left: 50px;
}
.p_data p{
    margin-top: 7px;
    color: #565655;
    font-size: 14px;
    line-height: 23px;
}
.prodActLinks{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.pd_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pd_links a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #565655;
}
.contactSellar{
    color:#FFFFFF;
    background-color: #019C89;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin-top: 10px;
}
.prodLocation{
    display: flex;
    flex-direction: column;
    border: 1px solid #BCBCBC;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
}
.prodLocation span{
    margin: 10px 0px 8px 0px;
    font-size: 15px;
    color: #81837F;
}
.prodLocation img{
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

/* product info */
.pd_info_links{
    display: flex;
    width: fit-content;
    margin: 0px auto 40px auto;
    font-size: 15px;
    cursor: pointer;
}
.pd_info_links a{
    /* color: #4F4F4F; */
    color: #019C89;
    border-bottom: 2px solid #019C89;
    padding-bottom: 5px;
    margin: 10px;
}
.pd_info{
    margin-top: 70px;
}
.prodsImg{
    display: flex;
    justify-content: center;
    margin: 15px 0px 30px 0px;
    overflow-x: auto;
}
.prodsImg img{
    margin: 4px;
}
/* Products Meta Data*/
.socialShare{
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    gap: 8px;
    position: absolute;
    margin-top: 33px;
    right: 8vw;
    z-index: 2;
    /* background-color: #FFFFFF; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.socialShare button{
    width: fit-content;
}
.socialShare img{
    width: 30px;
}



.ptitle {
    color: #2A2A29;
    margin-bottom: 23px;
    font-weight: 500;
    /* font-size: 12px; */
}
.horiz {
    background-color: #DBDBDB;
}
.data {
    /* color: #444444; */
    color: black;
    font-size: 12px;
    font-family: inherit;
    padding: 0px 30px 0px 26px;
    height: 40px;
    border-bottom: 1px solid #DBDBDB;
    background-color: aliceblue;
    font-weight:bold;
}
.prodMetaContainer{
    width: 100%;
}

/* Product Review */
.prod_reive_continer h4{
    text-align: center;
    color: #474847;
    margin-bottom: 40px;
}
.reviewParentCont{
    width: 70%;
    /* background-color: cadetblue; */
    margin: 10px auto 10px auto;
    padding: 10px;
}
.allReviewCont{
    display: flex;

}
.userRevDetails{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 22px;
    padding-bottom: 25px;
}
.nameRating{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dateName{
    display: flex;
    gap: 22px;
    align-items: center;
    margin:4px;
}
.reviewDesc{
    margin-top: 14px;
    text-align: justify;
}

.userPic{
    width: 85px;
    margin-right: 30px;
}

.reviewUserName{
    color: #474847;
    font-weight: 640;
    font-size: 15px;
}
.reviewUserDate{
    color: #777777;
    font-size: 12px;
    font-weight: 600
}
.reviewDesc{
    color: #6D6D6D;
    font-size: 13px;
}
.userRating{
    display: flex;
    height: 14px;
    align-items: center;
    justify-content: right;
    margin: 4px;
}
.userRating img{
    margin-right: 2px;
}
.finalRating{
    font-size: 14px;
    text-decoration: underline;
    color: #777777;
}
/*Related Products*/
.hzline {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 12px;
    margin: 70px 0px 30px 0px ;
}
.relprod{
    padding: 0px 12px;
    color: #343434;
    text-align: center;
}
.line1 
{
    width: 40%;
    color: #9F9F9F;
}
.line2 
{
    width:40%;
    color: #9F9F9F;
}
.rowws 
{
    overflow-x: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.rlatedProdPrev{
    height: 25px;
    position: absolute;
    left: -8px;
    z-index: 1;
    top: 45%;
    cursor: pointer;
}
.rlatedProdNext{
    height: 25px;
    position: absolute;
    right: -8px;
    z-index: 1;
    cursor: pointer;
    top: 45%;
}

/* Review From Css */
.forOneLine {
    display: flex;
}

.reviewFormCont {
    width: 70%;
    margin: 0 auto;
}

.giveRatingCont {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.ratingHeading {
    color: #474847;
    margin: 60px 0px 30px 0px;
    font-size: 18px;
    font-weight: 500;
}

.rateFormCol label {
    color: #555751;
    font-weight: 500;
    font-size: 14px;
}

.giveRatingImg {
    display: flex;
    gap: 10px;
    margin-left: 5vh;
}
.giveRatingImg img{
    height: 20px;
}

.form_group input,
#review {
    display: block;
    outline: none;
}

.form_group {
    /* display: flex; */
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 12px;
    gap: 26px;
}
.rateFormName{
    width: 100%;
}
.rateFormName input {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
    border: none;
}

.DescPlaceholder {
    width: 100%;
    height: 27vh;
    padding: 14px;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.reviewSubmit {
    background-color: #019C89;
    padding: 8px 0px 8px 0px;
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    color: white;
    font-size: 15px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

.onlyStarCol {
    color: #555751;
    font-weight: 500;
    font-size: 14px;
}
.prodId{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: #878787;
}
/* process */
.processCont{
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
}
.procImg{
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}
.processCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 150px;
}
.processCard img{
    width: fit-content;
}
.processCard span{
    text-align: center;
    color: #4D4D4D;
    margin-top: 15px;
}

@media(max-width:848px){
    .userPic{
        display: none;
    }
    .reviewParentCont{
        width: 80vw;
        margin: auto;
    }
}

@media(max-width:700px){
    .rlatedProdPrev,.rlatedProdNext,.line1,.line2{
        display: none;
    }
    .prod_data{
        flex-wrap: wrap;
    }
    .p_data{
        margin: 20px 0px 0px 0px;
    }
}
@media(max-width:400px){
    .allReeviewCards{
        display: flex;
        overflow-x: auto;
    }
    .reviewDesc{
        width: 220px;
    }
    .reviewFormCont{
        width: 100%;
        margin: auto;
    }
    .rateFormName input,.DescPlaceholder{
        width: 93%;
    }

}

/* Hide scrollbar for Chrome, Safari and Opera */
.rowws::-webkit-scrollbar,.prodsImg::-webkit-scrollbar{
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.rowws,.prodsImg{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.isActive{
    border-bottom: 2px solid #019C89;
    color: #019C89;
}
.isDeactive{
    border-bottom: none;
    color: #4F4F4F;
}
.prod_details{
    margin-right: "1rem";
}
.prod_review{
    margin-left: "1rem";
}
